<a href="https://colab.research.google.com/github/DatHarry/TQC-answer-for-Python/blob/master/TQC%2B_Python%E9%A1%8C%E5%BA%AB%E8%A7%A3%E7%AD%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#第一部分 

TQC+ 程式語言 第1類 ~ TQC+ 程式語言 第9類

基本上只要輸出跟範例一樣的output，不會管你怎麼寫的，用甚麼formatting去寫，邏輯對，系統都會給你過。
第二部分的自由度就沒這麼大...

In [0]:
# TQC+ 程式語言Python 101 整數格式化輸出              
q = int(input())
w = int(input())
e = int(input())
r = int(input())

print("|{0:>5d} {1:>5d}|".format(q,w))
print("|{0:>5d} {1:>5d}|".format(e,r))
print("|{0:<5d} {1:<5d}|".format(q,w))
print("|{0:<5d} {1:<5d}|".format(e,r))

In [0]:
# TQC+ 程式語言Python 102 浮點數格式化輸出
q = float(input())
w = float(input())
e = float(input())
r = float(input())

print("|{0:4.2f} {1:4.2f}|\n|{2:4.2f} {3:4.2f}|".format(q,w,e,r))

print("|{0:>4.2f} {1:>4.2f}|\n|{2:>4.2f} {3:>4.2f}|".format(q,w,e,r))

23.12
395.3

In [0]:
# TQC+ 程式語言Python 103 字串格式化輸出
q = (input())
w = (input())
e = (input())
r = (input())

print("|{0:>10s} {1:>10s}|\n|{2:>10s} {3:>10s}|".format(q,w,e,r))
print("|{0:<10s} {1:<10s}|\n|{2:<10s} {3:<10s}|".format(q,w,e,r))

23.1

In [0]:
# TQC+ 程式語言Python 104 圓形面積計算
import math
Radius = float(input())

Perimeter1 = 2 * Radius1 * math.pi
Area1 = (Radius1 ** 2) * math.pi
print("Radius = {:.2f}".format(Radius1))
print("Perimeter = {:.2f}".format(Perimeter1))
print("Area = {:.2f}".format(Area1))

10
2.5
Radius = 10.00
Perimeter = 62.83
Area = 314.16
Radius = 2.50
Perimeter = 15.71
Area = 19.63

In [0]:
# TQC+ 程式語言Python 105 矩形面積計算
# 試試下面這個呢 貼在 code judger
import math
radius = eval(input())

perimeter = math.pi * 2 * radius
area = math.pi * radius**2

print("Radius = {:.2f}".format(radius))
print("Perimeter = {:.2f}".format(perimeter))
print("Area = {:.2f}".format(area))

In [0]:
# TQC+ 程式語言Python 106 公里英哩換算
x = float(input()) #分
y = float(input()) #秒
z = float(input()) #公里

distance = z / 1.6 
time = (x * 60 + y) / 3600

speed = distance/time

print("Speed = {:.1f}".format(speed))

10
25
3
10.8

In [0]:
# TQC+ 程式語言Python 107 數值計算
a = input()
s = input()
d = input()
f = input()
g = input()

q = float(a) #
w = float(s) #
e = float(d) #
r = float(f) #
t = float(g) #


lst = [q,w,e,r,t]

sm = sum(lst)
avg = sm/len(lst)

print("%s %s %s %s %s" %(a,s,d,f,g))
print("Sum = {:.1f}".format(sm))
print("Average = {:.1f}".format(avg))

In [0]:
# TQC+ 程式語言Python 108 座標距離計算
a = input()
b = input()
c = input()
d = input()

x1 = float(a)
y1 = float(b)
x2 = float(c)
y2 = float(d)

distance =( ( x1 - x2) ** 2 + ( y1 - y2) ** 2 ) ** (1/2)

print("( %s , %s )" % (a,b))
print("( %s , %s )" % (c,d))
print("Distance = {:.4f}".format(distance))

2
1
5.5
8
( 2 , 1 )
( 5.5 , 8 )
Distance = 7.8262

In [0]:
#TQC+ 程式語言Python 109 正五邊形面積計算
import math

s = float(input())
area = (5 * s**2)/(4* math.tan(math.pi/5))
print("Area = {:.4f}".format(area))

5
Areae = 43.0119

In [2]:
#TQC+ 程式語言Python 110 正n邊形面積計算
import math

n = float(input())
s = float(input())

area = (n * s**2) / (4 * math.tan(math.pi/n))
print("Area = {:.4f}".format(area))

11
5
Area = 234.1410

In [0]:
# TQC+ 程式語言Python 201 偶數判斷
q = int(input())

if q % 2 == 0:
    print("%i is an even number." % q)
else:
    print("%i is not an even number." % q)

56
56 is an even numer.

In [0]:
# TQC+ 程式語言Python 202 倍數判斷
q = int(input())

if q % 3 == 0 and q % 5 == 0 :
    print("%i is a multiple of 3 and 5." % q)
elif q % 5 == 0:
    print("%i is a multiple of 5." % q)
elif q % 3 == 0:
    print("%i is a multiple of 3." % q)
else:
    print("%i is not a multiple of 3 or 5." % q)

55
55  is a multiple of 5.

In [0]:
# TQC+ 程式語言Python 203 閏年判斷
y = int(input())

if ((y % 4 == 0 and y % 100 != 0) or (y % 400 == 0 and y % 3200 != 0)):
    print("%i is a leap year." % y)
else:
    print("%i is not a leap year." % y)

1992
1992 is a leap year.

In [0]:
#TQC+ 程式語言Python 204 算術運算

q = int(input())
w = int(input())
e = input()

if e == "+":
    print(q + w)
elif e == "-":    
    print(q - w)
elif e == "*":   
    print(q * w)
elif e == "/":   
    print(q / w)
elif e == "//":    
    print(q // w)
else:
    print(q % w)

2
2
+
4

In [0]:
# TQC+ 程式語言Python 205 字元判斷

user_input = input()

if user_input.isalpha():
    print("%s is an alphabet." % user_input)
elif user_input.isdigit():
    print("%s is a number." % user_input)
else:
    print("%s is a symbol." % user_input)

1
1 is an number

In [0]:
# TQC+ 程式語言Python 206 等級判斷

user_input = int(input())

if 80 <= user_input <= 100 :
    print("A")
elif 70 <= user_input <= 79 :
    print("B")
elif 60 <= user_input <= 69 :
    print("C")
else:
    print("F")

101
F

In [0]:
# TQC+ 程式語言Python 207 折扣方案

user_input = int(input())

while user_input < 8000:
    user_input = int(input())

if 38000 <= user_input:
    print(user_input * .7)
elif 28000 <= user_input <= 37999 :
    print(user_input * .8)
elif 18000 <= user_input <= 27999 :
    print(user_input * .9)
else:
    print(user_input * .95)

10000
9500.0

In [0]:
# TQC+ 程式語言Python 208 十進位換算

user_input = int(input())

while user_input > 15 or user_input < 0:
    user_input = int(input())

if 0 <= user_input <= 9:
    print(user_input)
elif user_input == 10 :
    print("A")
elif user_input == 11:
    print("B")
elif user_input == 12 :
    print("C")
elif user_input == 13 :
    print("D")
elif user_input == 14 :
    print("E")
else:
    print("F")

8
8

In [0]:
# TQC+ 程式語言Python 209 距離判斷
a = input()
b = input()
c = 5
d = 6

x1 = float(a)
y1 = float(b)
x2 = float(c)
y2 = float(d)

distance =( ( x1 - x2) ** 2 + ( y1 - y2) ** 2 ) ** (1/2)

if distance <= 15:
    print("Inside")
else:
    print("Outside")

30
35
Outside

In [0]:
# TQC+ 程式語言Python 210 三角形判斷

x1 = int(input())
x2 = int(input())
x3 = int(input())



if x1 + x2 > x3 and x1 + x3 > x2 and x2 + x3 > x1 :
    print( x1 + x2 + x3 )
else:
    print("Invalid")

1
1
1
3

In [0]:
# TQC+ 程式語言Python 302 迴圈偶數連加
num1 = int(input())
num2 = int(input())
total = 0

while num1 > num2:
    num1 = int(input())
    num2 = int(input())
    
if num1 % 2 != 0:
    num1 = num1 + 1

for i in range(num1,num2+1,2):
    total += i
print(total)

1
100
2550

In [0]:
# TQC+ 程式語言Python 303 迴圈數值相乘
user_input = abs(int(input()))

while user_input >= 100:
    user_input = abs(eval(input()))

for i in range(1, user_input +1):
    for j in range(1, i +1):
        product = i * j
        print("{:<4d}".format(product), end = "")
    print()

5
1
2   4
3   6   9
4   8   12  16
5   10  15  20  25

In [0]:
# TQC+ 程式語言Python 304 迴圈倍數總和
num = int(input())
total = 0

if num % 5 != 0:
    num = (num // 5) * 5

    for i in range(5,num+1,5):
    total += i
    
print(total)

4
0

In [0]:
# TQC+ 程式語言Python 305 數字反轉
user_input = input()
  
print(user_input[::-1])
print(reversed(user_input))
print(''.join(reversed(user_input)))

asdf
fdsa
<reversed object at 0x7fe091d3e978>
fdsa

In [0]:
# 1到100的標準差 numpy法
import numpy as np

arr = list(range(1, 101))
print(np.mean(arr))
print(np.var(arr))
print(np.std(arr))

50.5
833.25
28.86607004772212

In [0]:
# TQC+ 程式語言Python 306 迴圈階乘計算
user_input = int(input())
total = 1

for i in range(1,user_input+1):
    total *= i
print(total)

15
1307674368000

In [0]:
# TQC+ 程式語言Python 307 乘法表
n = int(input())

while n >= 10:
    n = int(input())

for i in range(1,n+1):
    for j in range(1,n+1):
        product = i * j
        print("{:<2.0f}* {:<2.0f}= {:<4.0f}".format(j, i, product), end ="")
    print()

5
1 * 1 = 1   2 * 1 = 2   3 * 1 = 3   4 * 1 = 4   5 * 1 = 5
1 * 2 = 2   2 * 2 = 4   3 * 2 = 6   4 * 2 = 8   5 * 2 = 10
1 * 3 = 3   2 * 3 = 6   3 * 3 = 9   4 * 3 = 12  5 * 3 = 15
1 * 4 = 4   2 * 4 = 8   3 * 4 = 12  4 * 4 = 16  5 * 4 = 20
1 * 5 = 5   2 * 5 = 10  3 * 5 = 15  4 * 5 = 20  5 * 5 = 25

In [0]:
# TQC+ 程式語言Python 308 迴圈位數加總
num = int(input())

for i in range(num):
    total = 0
    user_input = input()
    
    for i in range(len(user_input)):
        total += int(user_input[i])
    print("Sum of all digits of %s is %d" % ( user_input , total))

3
32412
Sum of all digits of 32412 is 12
0
Sum of all digits of 0 is 0
769
Sum of all digits of 769 is 22

In [0]:
# TQC+ 程式語言Python 309 存款總額
amount = float(input())
aror = abs(eval(input()))   #Annual rate of return
month = int(input())

print("Month \t  Amount")

for i  in range( 1, month+1 ):
    total = amount + amount  * aror / 1200
    amount = total
    print("{:3d} \t {:.2f}".format(i,total))

50000
1.3
5
Month 	  Amount
  1 	 50054.17
  2 	 50108.39
  3 	 50162.68
  4 	 50217.02
  5 	 50271.42

In [0]:
# TQC+ 程式語言Python 310 迴圈公式計算
num = int(input())

while num <= 1:
    num = int(input())
    
total = 0    
for i in range(2,num+1):
    output = 1 / (((i -1) ** .5) + i ** .5)
    total += output

print("{:.4f}".format(total))

8
1.8284

In [0]:
# TQC+ 程式語言Python 401 最小值
x1 = int(input())
x2 = int(input())
x3 = int(input())
x4 = int(input())
x5 = int(input())
x6 = int(input())
x7 = int(input())
x8 = int(input())
x9 = int(input())
x10 = int(input())

print(min(x1,x2,x3,x4,x5,x6,x7,x8,x9,x10))

23
57
48
2
99
70
9
65
35
88
2

In [0]:
# TQC+ 程式語言Python 402 不定數迴圈-最小值

minNum , newNum = int(input()), int(input())

while newNum != 9999:
    if minNum > newNum:
        minNum = newNum
    newNum = int(input())
    
print(minNum)

29
100
948
377
-28
0
-388
9999
-388

In [0]:
# TQC+ 程式語言Python 403 倍數總和計算
a = int(input())
b = int(input())
total = 0
count = 0

while a > b:
    a = int(input())
    b = int(input())
        
for i in range(a, b+1):
    if i % 4 == 0 or i % 9 == 0:
        count += 1
        print("{:<4d}".format(i),end="")
    
        if count % 10 == 0:
            print()
        total += i
    
print()
print(count)
print(total)

5
55
8   9   12  16  18  20  24  27  28  32
36  40  44  45  48  52  54
17
513

In [0]:
# TQC+ 程式語言Python 404 數字反轉判斷
user_input = input()
  
print(user_input[::-1])
#print(reversed(user_input))
#print(''.join(reversed(user_input)))

12345
54321

In [0]:
# TQC+ 程式語言Python 405 不定數迴圈-分數等級
user_input = int(input())

while user_input != -9999:
    if 90 <= user_input <= 100 :
        print("A")
    elif 80 <= user_input <= 89 :
        print("B")
    elif 70 <= user_input <= 79 :
        print("C")
    elif 60 <= user_input <= 69 :
        print("D")
    else:
        print("E")

    user_input = int(input())

75
C
39
E
100
A
85
B
65
D
-9999

In [0]:
# TQC+ 程式語言Python 406 不定數迴圈-BMI計算
height = int(input())

while height != -9999:
    weight = int(input())
    bmi = weight/ (height/100) ** 2
    print("BMI: {:.2f}".format(bmi))
    
    if bmi < 18.5:
        print("State: under weight")
    elif 18.5 <= bmi < 25 :
        print("State: normal")
    elif 25.0 <= bmi < 30 :
        print("State: over weight")
    else:
        print("State: fat")
        
    height = int(input())

176
80
BMI:25.83
State:over weight
170
100
BMI:34.60
State:fat
-9999

In [0]:
# TQC+ 程式語言Python 407 不定數迴圈-閏年判斷
y = int(input())

while y != -9999:
    if ((y % 4 == 0 and y % 100 != 0) or (y % 400 == 0 and y % 3200 != 0)):
        print("%i is a leap year." % y)
    else:
        print("%i is not a leap year." % y)
    
    y = int(input())

2017
2017 is not a leap year.
2000
2000 is a leap year.
2016
2016 is a leap year.
2009
2009 is not a leap year.
2018
2018 is not a leap year.
-9999

In [0]:
# TQC+ 程式語言Python 408 奇偶數個數計算

x1 = int(input())
x2 = int(input())
x3 = int(input())
x4 = int(input())
x5 = int(input())
x6 = int(input())
x7 = int(input())
x8 = int(input())
x9 = int(input())
x10 = int(input())

even, odd = 0, 0

for i in x1,x2,x3,x4,x5,x6,x7,x8,x9,x10:
    if i % 2 == 0:
        even += 1
    else:
        odd +=1
print("Even numbers: {:d}".format(even))
print("Odd numbers: {:d}".format(odd))

69
48
19
91
83
22
18
37
82
48
Even numbers:5
Odd numbers:5

In [0]:
# TQC+ 程式語言Python 409 得票數計算

count1 = 0
count2 = 0
null = 0

for i in range(5):
    vote = int(input())
    if  vote == 1:
        count1 += 1
    elif  vote == 2:
        count2 += 1
    else:
        null += 1
        
    print("Total votes of No.1: Nami =  %d" % count1)
    print("Total votes of No.2: Chopper =  %d" % count2)
    print("Total null votes =  %d" % (null))
        
if count1 > count2:
    print("=> No.1 Nami won the election.")
elif count1 < count2:
    print("=> No.2 Chopper won the election.")
else:
    print("=> No one won the election.")

2
Total votes of No.1: Nami =  0
Total votes of No.2: Chopper =  1
Total null votes =  0
1
Total votes of No.1: Nami =  1
Total votes of No.2: Chopper =  1
Total null votes =  0
8
Total votes of No.1: Nami =  1
Total votes of No.2: Chopper =  1
Total null votes =  1
2
Total votes of No.1: Nami =  1
Total votes of No.2: Chopper =  2
Total null votes =  1
2
Total votes of No.1: Nami =  1
Total votes of No.2: Chopper =  3
Total null votes =  1
=> No.2 Chopper won the election.

In [0]:
# TQC+ 程式語言Python 410 繪製等腰三角形
n = abs(int(input()))

for i in range(1,n+1):
    print(" "*(n-i)+"*"*(2*i-1))

7
      *
     ***
    *****
   *******
  *********
 ***********
*************

In [0]:
# TQC+ 程式語言Python 501 訊息顯示
def compute(x,y,z):
    print("Department:",x)
    print("Student ID:",y)
    print("Name:",z)
    
x , y, z = input(),input(),input()
compute(x,y,z)

Information Management
12345689
Tina Chen
Department: Information Management
Student ID: 12345689
Name: Tina Chen

In [0]:
#  TQC+ 程式語言Python 502 乘積
def compute(x, y):
    return x * y
    
a = int(input())
b = int(input())
print(compute(a,b))

56
11

616

In [0]:
# TQC+ 程式語言Python 503 連加計算

def compute(x,y):
    total = 0
    for i in range(x,y+1):
        total += i
    return total

a = int(input())
b = int(input())
print(compute(a,b))

33
66
1683

In [0]:
# TQC+ 程式語言Python 504 次方計算

def compute(x,y):
    return x ** y

x , y = int(input()) , int(input())
print(compute(x,y))

14
3

2744

In [0]:
# TQC+ 程式語言Python 505 依參數格式化輸出

def compute(a,x,y):
    for i in range(y):
        print("{} ".format(a)* x)
        
a = input() 
x = int(input())  
y = int(input())

compute(a,x,y)

e
5
4
e e e e e
e e e e e
e e e e e
e e e e e

In [0]:
# TQC+ 程式語言Python 506 一元二次方程式
def compute(a,b,c):
    y = (b **2) - (4*a*c)
    
    if y > 0:
        x1, x2 = ((-b +(y **0.5))/(2*a)) , ((-b -(y **0.5))/(2*a))
        return x1, x2
    else:
        return "Your equation has no root.", None

      
a = eval(input()) 
b = eval(input())  
c = eval(input())
m,n = compute(a,b,c)

if n == None:
    print(m)
else:
    print("{}, {}".format(m,n))

2
-3
1
1.0, 0.5

In [0]:
# TQC+ 程式語言Python 507 質數
def compute(x):
    if x > 1:
        for i in range(2,x):
            if x % i == 0:
                print("Not Prime")
                break
        else:
            print("Prime")
    else:
        print("Not Prime")   
x = int(input())
compute(x)

2
Prime

In [0]:
# TQC+ 程式語言Python 508 最大公因數
def compute(x,y):
    mx = max(x,y)
    mn = min(x,y)
    r = mx % mn
    while r != 0:
        mx = mn 
        mn = r
        r = mx % mn
    print(mn)
x , y = map(int,input().split(','))
compute(x,y)

12,8
4

In [0]:
# TQC+ 程式語言Python 509 最簡分數
def compute(p,q):
    if q == 0: return p
    else: return compute( q , p % q )
       
x , y = map(int,input().split(','))
m , n = map(int,input().split(','))

p , q = (x * n) + (m * y), y * n
num = compute(p,q)
print('{}/{} + {}/{} = {}/{}'.format(x,y,m,n,int(p/num),int(q/num)))

12,16
18,32
12/16 + 18/32 = 21/16

In [0]:
#TQC+ 程式語言Python 510 費氏數列
def compute(x):    
    lst = [0,1]
    for i in range(2,x):
        num = lst[i-2] + lst[i-1]
        lst.append(num)
    for j in lst:
        print(j,end=" ")    
    
x = int(input())
compute(x)

20
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [0]:
# TQC+ 程式語言Python 601 偶數索引值加總
total = 0
count = 0
array = [] 

for i in range(12):
    num = int(input())
    array.append(num)
    if i % 2 == 0:
        total += array[i]
        
for j in range(12):
    print("{:>3d}".format(array[j]),end="")
    count += 1
    if count % 3 == 0:
        print()
        
print(total)

56
45
43
22
3
1
39
20
93
18
44
83
 56  45  43
 22   3   1
 39  20  93
 18  44  83
278

In [0]:
# TQC+ 程式語言Python 602 撲克牌總和
pkcard = ["A","J","Q","K"]
pknum = [ 1, 11, 12, 13]
total = 0

for i in range(5):
    pk = input()
    if pk in pkcard:
        total += pknum[ pkcard.index(pk)]
    else:
        total += int(pk)
    
print(total)

5
10
K
3
A
32

In [0]:
# TQC+ 程式語言Python 603 數字排序

lst = []
for i in range(10):
    user_input = int(input())
    lst.append( user_input)
lst.sort()
print(lst[-1],lst[-2],lst[-3])

40
32
12
29
20
19
38
48
57
44
57 48 44

In [0]:
# TQC+ 程式語言Python 604 眾數
numlst = []
cntlst = []
for i in range(10):
    user_input = int(input())
    numlst.append(user_input)
for i in range(10):
    cntlst.append(numlst.count(numlst[i]))
    
print(numlst[cntlst.index(max(cntlst))])
print(max(cntlst))

34
18
22
32
18
29
30
38
42
18
18
3

In [0]:
# TQC+ 程式語言Python 605 成績計算
lst = []

for i in range(10):
    user_input = int(input())
    lst.append(user_input)
    
lst.remove(max(lst))
lst.remove(min(lst))
print(sum(lst))
print("{:.2f}".format(sum(lst)/len(lst)))

89
78
67
80
75
98
77
89
76
60
631
78.88

In [0]:
# TQC+ 程式語言Python 606 二維串列行列數
def compute(x,y):
    for i in range(x):
        for j in range(y):
            print("{:4d}".format(j-i),end="")
        print()
        
x = int(input())
y = int(input())
compute(x,y)

5
10
   0   1   2   3   4   5   6   7   8   9
  -1   0   1   2   3   4   5   6   7   8
  -2  -1   0   1   2   3   4   5   6   7
  -3  -2  -1   0   1   2   3   4   5   6
  -4  -3  -2  -1   0   1   2   3   4   5

In [3]:
# TQC+ 程式語言Python 607 成績計算
lst1 = []
lst2 = []
lst3 = []

print("The 1st student:")
for j in range(5):
    lst1.append(int(input()))
    
print("The 2nd student:")
for k in range(5):
    lst2.append(int(input()))
    
print("The 3rd student:")    
for h in range(5):
    lst3.append(int(input()))
        
print("Student 1")
print("#Sum {:d}".format(sum(lst1)))
print("#Average {:.2f}".format(sum(lst1)/len(lst1)))

print("Student 2")
print("#Sum {:d}".format(sum(lst2)))
print("#Average {:.2f}".format(sum(lst2)/len(lst2)))

print("Student 3")
print("#Sum {:d}".format(sum(lst3)))
print("#Average {:.2f}".format(sum(lst3)/len(lst3)))

The 1st student:
78
89
88
70
60
The 2nd student:
90
78
66
68
78
The 3rd student:
69
97
70
89
90
Student 1
#Sum 385
#Average 77.00
Student 2
#Sum 380
#Average 76.00
Student 3
#Sum 415
#Average 83.00

In [0]:
#比較難的作法，程式碼更簡潔，但批改網站不給過QQ，給你們參考囉
# TQC+ 程式語言Python 607 成績計算
gradelst = [ [ 0 for i in range(5)] for j in range(3)]
a = [ "1st", "2nd", "3rd"]

for i in range(3):
    print("The {} student:".format(a[i]))
    for j in range(5):
        gradelst[i][j] = int(input())
        
for i in range(3):
    total = sum(gradelst[i])
    print("Student {}\n#Sum {}\n#Avenger {:.2f}"
          .format((i+1), total, (total/5)))

The 1st student:
78
89
88
70
60
The 2nd student:
90
78
66
68
78
The 3rd student:
69
97
70
89
90
Student 1
#Sum 385
#Avenger 77.00
Student 2
#Sum 380
#Avenger 76.00
Student 3
#Sum 415
#Avenger 83.00

https://docs.scipy.org/doc/numpy/reference/generated/numpy.argmin.html

"""
>>> ind = np.unravel_index(np.argmin(a, axis=None), a.shape)
>>> ind
(0, 0)
>>> a[ind]
10
"""

In [0]:
# TQC+ 程式語言Python 608 最大最小值索引
import numpy as np
lst = []

for i in range(9):
    lst.append(int(input()))
    
maxNum = max(lst)
maxIndex = lst.index(maxNum)

print("Index of the largest number {:d} is: ({:d}, {:d})"
      .format( maxNum , maxIndex // 3 , maxIndex % 3))

minNum = min(lst)
minIndex = lst.index(minNum)
print("Index of the smallest number {:d} is: ({:d}, {:d})"
      .format( minNum , minIndex // 3 , minIndex % 3) )
#6 4 8 39 12 3 -3 49 33

6
4
8
39
12
3
-3
49
33
Index of the largest number 49 is: (2, 1)
Index of the smallest number -3 is: (2, 0)

In [0]:
# TQC+ 程式語言Python 609 矩陣相加

matrix1 = [[0 for i in range(2)] for j in range(2)]
matrix2 = [[0 for i in range(2)] for j in range(2)]

print("Enter matrix 1:")
for i in range(2):
    for j in range(2):
        num1 = int(input("[{}, {}]: ".format(i+1,j+1)))
        matrix1[i][j] = num1
    
print("Enter matrix 2:")
for i in range(2):
    for j in range(2):
        num2 = int(input("[{}, {}]: ".format(i+1,j+1)))
        matrix2[i][j] = num2
      
print("Matrix 1:")
for i in range(2):
    for j in range(2):
        print(matrix1[i][j],end=" ")
    print()    
print("Matrix 2:")
for i in range(2):
    for j in range(2):
        print(matrix2[i][j],end=" ")
    print()  
print("Sum of 2 matrices:")
for i in range(2):
    for j in range(2):
        print(matrix1[i][j]+matrix2[i][j],end=" ")
    print()

Enter matrix 1:
[1, 1]: 3
[1, 2]: 4
[2, 1]: 7
[2, 2]: 3
Enter matrix 2:
[1, 1]: 2
[1, 2]: 1
[2, 1]: 3
[2, 2]: 2
Matrix 1:
3 4
7 3
Matrix 2:
2 1
3 2
Sum of 2 matrices:
5 5
10 5

In [0]:
# TQC+ 程式語言Python 610 平均溫度
lst = []

for i in range(4):
    print("Week {}:".format(i+1))
    for j in range(3):
        user_input = eval(input("Day {}:".format(j+1)))
        lst.append(user_input)
        
print("Average: {:.2f}".format(sum(lst)/len(lst) ))
print("Highest: {}".format(max(lst)))       
print("Lowest: {}".format(min(lst)))

Week 1:
Day 1:23.1
Day 2:24
Day 3:23.5
Week 2:
Day 1:32
Day 2:33
Day 3:35.3
Week 3:
Day 1:29
Day 2:30
Day 3:26
Week 4:
Day 1:27.6
Day 2:25
Day 3:28.8
Average: 28.11
Highest: 35.3
Lowest: 23.1

In [0]:
# TQC+ 程式語言Python 701 串列數組轉換

num = 0
lst = []

while num != -9999:
    num = int(input())
    if num != -9999:
        lst.append(num)
    
tup = tuple(lst)
    
print(tup)
print("Length:", len(tup))
print("Max: {}".format(max(tup)) )
print("Min: {}".format(min(tup)) )
print("Sum: {}".format(sum(tup)) )

In [0]:
# TQC+ 程式語言Python 702 數組合併排序
lst1 = []
lst2 = []

print("Create tuple1:")
num = int(input())

while num != -9999:
    lst1.append(num)
    num = int(input())
tup1 = tuple(lst1)
    
print("Create tuple2:")
num = int(input())
while num != -9999:
    lst2.append(num)
    num = int(input())
tup2 = tuple(lst2)
    
print("Combined tuple before sorting:",tup1+tup2)
print("Combined list after sorting:",sorted(tup1+tup2))

In [0]:
# TQC+ 程式語言Python 703 數組條件判斷

lst = []
user_input = input()

while user_input != "end":
    lst.append(user_input)
    user_input = input()
    
tup = tuple(lst)
print(tup)
print(tup[0:3])
print(tup[-3:])

In [0]:
# TQC+ 程式語言Python 704 集合條件判斷
user_input = int(input())
lst = []

while user_input != -9999:
    lst.append(user_input)
    user_input = int(input())
    
st = set(lst)
print(f"Length: {len(st)}")
print(f"Max: {max(st)}")
print(f"Min: {min(st)}")
print(f"Sum: {sum(st)}")

In [0]:
# TQC+ 程式語言Python 705 子集合與超集合
lst1 = []
lst2 = []
lst3 = []

print("Input to set1:")
for i in range(5):
    user_input = int(input())
    lst1.append(user_input)
st1 = set(lst1)   

print("Input to set2:")
for i in range(3):
    user_input = int(input())
    lst2.append(user_input)
st2 = set(lst2) 
    
print("Input to set3:")
for i in range(9):
    user_input = int(input())
    lst3.append(user_input)
st3 = set(lst3)
    
print("set2 is subset of set1:", st2.issubset(st1))
print("set3 is superset of set1:", st3.issuperset(st1))

In [0]:
# TQC+ 程式語言Python 706 全字母句
times = int(input())

def ispangram(str): 
    alphabet = "abcdefghijklmnopqrstuvwxyz"
    for char in alphabet: 
        if char not in str.lower(): 
            return False
    return True
  
for i in range(times):
    user_input = input()
    print(ispangram(user_input))

3
The quick brown fox jumps over the lazy dog
True
Learning Python is funny
False
Pack my box with five dozen liquor jugs
True

In [0]:
# TQC+ 程式語言Python 707 共同科目

lst1 = []
lst2 = []

print("Enter group X's subjects:")
a_input = input()
while a_input != "end":
    lst1.append(a_input)
    a_input = input()
set1 = set(lst1)
    
print("Enter group Y's subjects:")
b_input = input()
while b_input != "end":
    lst2.append(b_input)
    b_input = input()
set2 = set(lst2)

print(sorted(set1.union(set2)))
print(sorted(set1.intersection(set2)))
print(sorted(set2.difference(set1)))
print(sorted(set1.difference(set2).union(set2.difference(set1))))

In [0]:
# TQC+ 程式語言Python 708 詞典合併
dct1 = {}
dct2 = {}

print("Create dict1:")
key_input = input("Key: ")
while key_input != "end":
    value_input = input("Value: ")
    dct1[key_input] = value_input
    key_input = input("Key: ")
    
print("Create dict2:")
key_input = input("Key: ")
while key_input != "end":
    value_input = input("Value: ")
    dct2[key_input] = value_input
    key_input = input("Key: ")

dct3 = dict(dct1,**dct2)

for key in sorted(dct3.keys()):
  print(f"{key}: {dct3[key]}")

In [0]:
# TQC+ 程式語言Python 709 詞典排序
color_dict = {}

key_input = input("Key: ")
while key_input != "end":
    value_input = input("Value: ")
    color_dict[key_input] = value_input
    key_input = input("Key: ")
    
for key in sorted(color_dict.keys()):
  print(f"{key}: {color_dict[key]}")

Key: Green Yellow
Value: #ADFF2F
Key: Snow
Value: #FFFAFA
Key: Gold
Value: #FFD700
Key: Red
Value: #FF0000
Key: White
Value: #FFFFFF
Key: Green
Value: #008000
Key: Black
Value: #000000
Key: end
Black: #000000
Gold: #FFD700
Green: #008000
Green Yellow: #ADFF2F
Red: #FF0000
Snow: #FFFAFA
White: #FFFFFF

In [0]:
# TQC+ 程式語言Python 710 詞典搜尋

dct = {}

key_input = input("Key: ")
while key_input != "end":
    value_input = input("Value: ")
    dct[key_input] = value_input
    key_input = input("Key: ")

key = input("Search key: ")
print("True") if key in dct else print("False")

Key:123-4567-89
Value:Jennifer
Key:987-6543-21
Value:Tommy
Key:246-8246-82
Value:Kay
Key:end
Search key:246-8246-82
True

In [0]:
# TQC+ 程式語言Python 801 字串索引
L=input()
for i in range(len(L)):
  print("Index of '%s':"%(L[i]),end=' ')
  print(i)

Sandwich
Index of 'S': 0
Index of 'a': 1
Index of 'n': 2
Index of 'd': 3
Index of 'w': 4
Index of 'i': 5
Index of 'c': 6
Index of 'h': 7

In [0]:
# TQC+ 程式語言Python 802 字元對應

user_input = input()
total = 0

for i in range(len(user_input)):
    print("ASCII code for '%s' is " % (user_input[i]) , end='')
    print(ord(user_input[i]))
    total += ord(user_input[i])

print(total)

Kingdom
ASCII code for 'K' is 75
ASCII code for 'i' is 105
ASCII code for 'n' is 110
ASCII code for 'g' is 103
ASCII code for 'd' is 100
ASCII code for 'o' is 111
ASCII code for 'm' is 109
713

In [0]:
# TQC+ 程式語言Python 803 倒數三個詞

user_input = input()

lst = user_input.split(" ")

print(f"{lst[-3]} {lst[-2]} {lst[-1]}" )

Many foreign students study in FJU
study in FJU

In [0]:
# TQC+ 程式語言Python 804 大寫轉換

user_input = input()


print(user_input.upper() )
print(user_input.title() )

In [0]:
#TQC+ 程式語言Python 805 字串輸出

user_input = input()
print("|{:<10s}|".format(user_input))
print("|{:^10s}|".format(user_input))
print("|{:>10s}|".format(user_input))

python
|python    |
|  python  |
|    python|

In [0]:
#TQC+ 程式語言Python 806 字元次數計算
a_input = input()
b_input = input()

def compute(x,y):
    return x.count(f"{y}")

print(f"{b_input} occurs {compute(a_input,b_input)} time(s)")

Our country is beautiful
u
u occurs 4 time(s)

In [0]:
# TQC+ 程式語言Python 807 字串加總
user_input = input()

total = 0
lst = user_input.split(" ")
for i in lst:
    total += int(i)
    
print(f"Total = {total}")
print(f"Average = {total/len(lst)}")

-2 34 18 29 -56
Total = 23
Average = 4.6

In [0]:
# TQC+ 程式語言Python 808 社會安全碼
user_input = input()

string = user_input.replace("-","")

print("Valid SSN") if string.isdecimal() == True else print("Invalid SSN")

837-a3-3000
Invalid SSN

In [0]:
# TQC+ 程式語言Python 809 密碼規則
user_input = input()
upperNum = 0

for i in range(len(user_input)):
    if user_input[i].isupper(): 
      upperNum = 1
  
if len(user_input) >= 8 and user_input.isalnum() == True:  
    print("Valid password")
else: 
    print("Invalid password")

39Gfjkd98
Valid password

In [0]:
# TQC+ 程式語言Python 810 最大值與最小值之差
times = abs(int(input()))

while times < 1 or times > 100:
    times = abs(int(input()))

def compute(x):
    flt = []
    for i in range(len(x)):
        flt.append(float(x[i]))
    diff = max(flt) - min(flt)
    print(f"{diff:.2f}")
    
for i in range(times):
    user_input = input()
    lst = user_input.split(" ")
    compute(lst)

4
94 52.9 3.14 77 46
90.86
-2 0 1000.34 -14.4 89 50
1014.74
87.78 33333 29.3
33303.70
9998 9996 9999
3.00

In [0]:
# TQC+ 程式語言Python 901 成績資料
with open("write.txt", "w", encoding = "UTF-8") as fp:
    for i in range(5):
        fp.write(f"{input()}" + '\n')

Leon 87
Ben 90
Sam 77
Karen 92
Kelena 92

In [0]:
# TQC+ 程式語言Python 902 資料加總

data = open("read.txt",'r',encoding = "UTF-8")
total = 0

for i in data:
    num = i.split()
    for j in num:
        total += eval(j)
print(total)

In [0]:
# TQC+ 程式語言Python 903 成績資料
with open("data.txt","a",encoding = "UTF-8") as data:
    for i in range(5):
        data.write("\n"+ input())

print("Append completed!")
print("Content of \"data.txt\":")

with open("data.txt","r",encoding = "UTF-8") as data:
    for name in data:
        print(name,end="")

Daisy
Kelvin
Tom
Joyce
Sarah
Append completed!
Content of "data.txt":

Daisy
Kelvin
Tom
Joyce
Sarah

In [0]:
# TQC+ 程式語言Python 904 資料計算
name, height, weight, data = [],[],[],[]

fp = open("read.txt",'r',encoding = "UTF-8")
for line in fp:
    print(line) #印出每行字串
    data = line.replace("\n","").split(" ")
    #print(data) #用來檢視轉成串列後之結果
    name.append(data[0])
    height.append(int(data[1]))
    weight.append(int(data[2]))

print(f"Average height: {sum(height)/len(height) :.2f}")
print(f"Average weight: {sum(weight)/len(weight) :.2f}")
print(f"The tallest is {name[height.index(max(height))] :s} with {max(height) :.2f}cm")
print(f"The heaviest is {name[weight.index(max(weight))] :s} with {max(weight) :.2f}kg")

In [0]:
# TQC+ 程式語言Python 905 字串資料刪除
fname = input()
deletion = input()

with open(fname,"r",encoding = "UTF-8") as fp:
    data = fp.read()
    
print("=== Before the deletion")
print(data)

data = data.replace(deletion,"") 

print("=== After the deletion")
print(data)

with open(fname,"w",encoding = "UTF-8") as fp:
    fp.write(data)

data.txt
Kiwi
=== Before the deletion
Apple  Banana
Tomato Pear Durian

=== After the deletion
Apple  Banana
Tomato Pear Durian

In [0]:
# TQC+ 程式語言Python 906 字串資料取代
fname = input()
s1 = input()
s2 = input()

with open(fname,"r",encoding = "UTF-8") as fp:
    data = fp.read()
    
print("=== Before the replacement")
print(data)

data = data.replace(s1,s2) 

print("=== After the replacement")
print(data)

with open(fname,"w",encoding = "UTF-8") as fp:
    fp.write(data)

data.txt
pen
sneakers
=== Before the replacement
watch shoes skirt
pen trunks pants
=== After the replacement
watch shoes skirt
sneakers trunks pants

In [0]:
# TQC+ 程式語言Python 907 詳細資料顯示
fname = input()

fp = open(fname,"r",encoding = "UTF-8") 
L, W, C = 0, 0 ,0

for line in fp:
    L += 1 #加總行數
    line_sp = line.split() #把每行字串，分割成單字
    W += len(line_sp)
    for i in range(len(line_sp)):
        C += len(line_sp[i])


print(L,"line(s)")
print(W,"word(s)")
print(C,"character(s)")
fp.close()

read.txt
6 line(s)
102 word(s)
614 character(s)

In [0]:
# TQC+ 程式語言Python 908 單字次數計算

fname = input()
times = int(input())
dct = {}
lst = []

with open(fname,'r',encoding='UTF-8') as fp:
    data = fp.read()
dlst = data.replace("\n"," ").split(" ")
for i in dlst:
    dct.update({i:dlst.count(i)})
    
for j in dct.keys():
    if dct.get(j) == times:
        lst.append(j)
        
for k in sorted(lst):
    print(k)

In [0]:
# TQC+ 程式語言Python 909 聯絡人資料

with open("data.dat","w",encoding = "UTF-8") as fp:
    for i in range(5):
        fp.write(input()+"\n")

print("The content of \"data.dat\":")
with open("data.dat","r",encoding = "UTF-8") as fp:
    for line in fp:
        print(line)

In [0]:
# TQC+ 程式語言Python 910 學生基本資料
M,F = 0,0
with open('read.dat','r',encoding='UTF-8') as fp:
    for line in fp:
        print(line) #印出每行字串
        line_sp = line.split() #分割這行字串
        if(line_sp[2]=="1"):
            M+=1
        if(line_sp[2]=="0"):
            F+=1        
print("Number of males:",M)
print("Number of females:",F)

#第二部分

TQC+ 網頁資料擷取與分析 第1類~第4類 

提醒大家這部分要開始看範例囉，不看保證你死得很難看QAQ


有題我始終不能理解，例如201，指定要用RE算出來23次，但我用bs4算html.text只有17次，還請高人給予指教

401 403的範例有bug，你們就自己參考修改吧，一想到小弟debug多少夜晚，就決定公布解答，讓刷這些題目的朋友少走一點冤枉路

最後還是要感謝我的老師Eugene Chang。有code judger，才有這份解答的誕生，祝各位Python黨員各種順利，謝謝~

In [0]:
# TQC+ 網頁資料擷取與分析 101 文化部展覽資訊
import pandas as pd
import json

fp =  open('read.json','r',encoding='UTF-8')
a = fp.read()
b = json.loads(a)
df = pd.DataFrame(b)
ndf = df[["title","showUnit","startDate","endDate"]]
ndf.to_csv('write.csv',header = False ,index=False ,encoding='UTF-8')

from google.colab import files
files.download('write.csv')
ndf

                          title  ...     endDate
0      第二特展室：新開聚落的變遷暨鯉魚潭水庫開發史特展  ...  2018/08/15
1               哇賽!碰─體感大冒險2.0特展  ...  2018/12/31
2            {旅人}--跨時空對話館藏精品常設展  ...  2018/07/01
3                 「高雄研究文獻中心」常設展  ...  2018/12/31
4                         電信@臺灣  ...  2018/12/31
5                傳統藝師林金鍊傀儡戲藝術特展  ...  2018/06/30
6          發現臺灣-重訪臺灣博物學與博物學家的年代  ...  2018/12/31
7                      昆蟲飛行秘技特展  ...  2018/09/02
8                        總統大選展覽  ...  2018/12/31
9      臺南市南瀛科學教育館兒童科學館《帕克．奇遇》特展  ...  2018/12/31
10                   自畫像與自我對話聯展  ...  2018/11/14
11              哇賽!碰─體感大冒險2.0特展  ...  2019/12/12
12                        電信@臺灣  ...  2019/12/31
13                        電信@臺灣  ...  2020/01/01
14                         總統大選  ...  2018/12/31
15                  「愛—傳遞」壁畫創作展  ...  2018/06/30
16       「工藝･經典･美學―盡看臺灣百年工藝」常設展  ...  2018/12/06
17  郵政博物館「臺北2016世界郵展回顧展」即日起開放參觀  ...  2018/12/31
18                       我的祕密花園  ...  2018/09/02
19           聚合‧綻放──臺灣美術團體與美術發展  ...  2019/12/31
20         107年「路竹，老宅散步」古厝巡禮常設展  ...  2018/12/30
21                107年創意書法作品常設展  ...  2018/12/30
22        擴增文學・數位百工特展／台灣文學Ｘ數位內容  ...  2019/12/20
23              永樂-15世紀前期官方用瓷特展  ...  2018/11/01
24         『大漢雄風，出神入化』-楊小寧新漢畫畫展  ...  2020/04/11
25         2019展覽徵件＊展一檔送一檔*隨到隨審  ...  2019/01/01
26               蛙哈哈藝旅空間-共享空間租借  ...  2019/01/01
27           2017《煤●記憶》聯合展出系列活動  ...  2019/05/01
28            衛武營藝術文化中心建築暨劇場常設展  ...  2018/12/31
29       藝起轉動、閱讀藝術視界︰藝術櫥窗展(電影類)  ...  2018/08/31
30   工藝新趣-新工藝人才入籍活動徵選計畫成果展（常態展）  ...  2018/12/31
31               工藝時尚Yii特展（常設展）  ...  2018/12/31
32             潛返地心、儀震天下特展（常設展）  ...  2018/12/31
33                     「飛覽竹山」特展  ...  2018/12/31
34                 斷層槽溝保存館（常設展）  ...  2018/12/31
35                     竹藝博物館常設展  ...  2018/12/31
36                       南投陶常設展  ...  2018/12/31
37                臺灣省政資料館主題陳列特展  ...  2018/12/31
38        擴增文學・數位百工特展　台灣文學×數位內容  ...  2018/12/31

[39 rows x 4 columns]

In [0]:
# TQC+ 網頁資料擷取與分析 102 新北市公共自行車即時資訊

import pandas as pd
import xml.etree.ElementTree as ET
tree = ET.parse('read.xml')
root = tree.getroot()
Q,W,E = [],[],[]

i = 0
for child in root:
    i += 1
    Q.append(root[i-1][0].text)
    W.append(root[i-1][1].text)
    E.append(root[i-1][2].text)
    
df = pd.DataFrame([Q,W,E])
df.T.to_csv('write.csv',header = False ,index=False ,encoding='UTF-8')
df.T

from google.colab import files
files.download('write.csv')

       0             1   2
0   1001          大鵬華城  38
1   1002         汐止火車站  56
2   1003         汐止區公所  46
3   1004        國泰綜合醫院  56
4   1005          裕隆公園  40
5   1006  捷運大坪林站(3號出口)  32
6   1007      汐科火車站(北)  34
7   1008          興華公園  40
8   1009      三重國民運動中心  68
9   1010   捷運三重站(3號出口)  34
10  1011          樟樹國小  48
11  1012          金龍國小  52
12  1013          白雲國小  46
13  1014      東勢宜興活動中心  52
14  1015          後港公園  40
15  1016        福營行政中心  42
16  1017          西盛公園  36

In [0]:
# TQC+ 網頁資料擷取與分析 103 勞保投保薪資分級表
import sys, json, yaml

with open('read (1).json','r',encoding='UTF-8') as file:
    data = json.load(file) # json.load stands for file path
    
with open("write.yaml",'w', encoding='UTF-8') as f:
    yaml.dump(data,f, default_flow_style = False, allow_unicode=True)

In [0]:
# TQC+ 網頁資料擷取與分析 104 JSON檔案輸出處理
import json

a = {
'people' :
[{  
    'id': '1',
    'name': 'Peter',
    'country': 'Taiwan'
},
{  
    'id': '2',
    'name': 'Jack',
    'country': 'USA'
},
{  
    'id': '3',
    'name': 'Cindy',
    'country': 'Japan'
}]
}


with open("write.json","w",encoding='UTF-8') as file:
    json.dump(a,file)

In [0]:
# TQC+ 網頁資料擷取與分析 105 受僱員工資料表
import sqlite3
conn = sqlite3.connect("read.db")

c = conn.cursor()

data = c.execute("SELECT * FROM Employee")

for i in data.fetchall():
    print(i)

(1, '小陳', 1997, '新北市', 58000)
(2, '小范', 2000, '臺北市', 50000)
(3, '小施', 1999, '高雄市', 47000)
(4, '小吳', 1998, '台中市', 52000)

In [0]:
# Create table
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')

# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

In [0]:
# TQC+ 網頁資料擷取與分析 201 搜尋字詞
import requests
import re

# 使用 GET 請求
url = "http://tqc.codejudger.com:3000/target/5201.html"
html = requests.get(url)

# 驗證 HTTP Status Code
if html.status_code == 200:
    user_input = input("請輸入欲搜尋的字串 : ") # 欲搜尋的字串
    times = re.findall(user_input,html.text)
    
    if user_input in html.text:
        print(f"{user_input} 搜尋成功")
        print(f"{user_input} 出現 {len(times)} 次")
    else:
        print(f"{user_input} 搜尋失敗")
        print(f"{user_input} 出現 0 次")
else:
    print("網頁連線失敗")

請輸入欲搜尋的字串 : TQC+
TQC+ 搜尋成功
TQC+ 出現 23 次

In [0]:
# TQC+ 網頁資料擷取與分析 202 美元收盤匯率
import codecs
from bs4 import BeautifulSoup
import pandas as pd
Q,W = [],[]

f = codecs.open("read.html",'r')
soup = BeautifulSoup(f.read(),"html.parser")
table = soup.find_all("div", class_ = "Body")
table2 = table[0].find_all("tr")

for line in table2:
    #print(line.text.split("\n"))
    Q.append(line.text.split("\n")[1])
    W.append(line.text.split("\n")[2])
    
df = pd.DataFrame([Q,W]).T
df.to_csv('write.csv', header =False, index =False, encoding='UTF-8')
df

             0        1
0          日 期  NTD/USD
1   2018-06-26   30.412
2   2018-06-25   30.403
3   2018-06-22   30.307
4   2018-06-21   30.302
5   2018-06-20   30.170
6   2018-06-19   30.186
7   2018-06-15   30.002
8   2018-06-14   29.938
9   2018-06-13   29.890
10  2018-06-12   29.860
11  2018-06-11   29.821
12  2018-06-08   29.816
13  2018-06-07   29.740
14  2018-06-06   29.738
15  2018-06-05   29.815
16  2018-06-04   29.820
17  2018-06-01   29.864
18  2018-05-31   29.980
19  2018-05-30   30.050
20  2018-05-29   29.988
21  2018-05-28   29.928
22  2018-05-25   29.945
23  2018-05-24   29.930
24  2018-05-23   29.960
25  2018-05-22   29.922
26  2018-05-21   29.992
27  2018-05-18   29.912
28  2018-05-17   29.906
29  2018-05-16   29.892
30  2018-05-15   29.848
31  2018-05-14   29.742
32  2018-05-11   29.773
33  2018-05-10   29.872
34  2018-05-09   29.928
35  2018-05-08   29.783
36  2018-05-07   29.763
37  2018-05-04   29.716
38  2018-05-03   29.742
39  2018-05-02   29.758
40  2018-04-30   29.605
41  2018-04-27   29.636
42  2018-04-26   29.705
43  2018-04-25   29.660
44  2018-04-24   29.616
45  2018-04-23   29.528
46  2018-04-20   29.407
47  2018-04-19   29.340
48  2018-04-18   29.366
49  2018-04-17   29.362
50  2018-04-16   29.425

In [0]:
# TQC+ 網頁資料擷取與分析 203 台灣彩券
import requests
from bs4 import BeautifulSoup

url = "http://tqc.codejudger.com:3000/target/5203.html"
res = requests.get(url)
soup = BeautifulSoup(res.text,"lxml")

games = soup.find_all("div", class_="contents_box02")[2]
balls = games.find_all('div', {'class': 'ball_tx ball_yellow'})

print("大樂透開獎 :")
print("-------------")

# 開出順序
print("開出順序 : ", end='')
for i in range(6):
    print(balls[i].text , end='   ')
    
# 大小順序
print("\n大小順序 : ", end='')
for i in range(6, len(balls)):
    print(balls[i].text , end='   ')
    
# 特別號：資料位於 <div class="ball_red"></div>
redball = dataTag[2].find_all('div', {'class': 'ball_red'})
print("\n特別號   :", redball[0].text)

大樂透開獎 :
-------------
開出順序 : 44    25    18    14    16    23
大小順序 : 14    16    18    23    25    44
特別號   : 41

In [0]:
# TQC+ 網頁資料擷取與分析 203 台灣彩券
# -*- coding: utf-8 -*-

import bs4
import requests

url = "http://tqc.codejudger.com:3000/target/5203.html"
# GET 請求
html = requests.get(url)

# 使用 lxml 解析器
objSoup = bs4.BeautifulSoup(html.text, 'lxml')

dataTag = objSoup.select('.contents_box02')

balls = dataTag[2].find_all('div', {'class': 'ball_tx ball_yellow'})
print("大樂透開獎 : ")
print('-------------')

# 開出順序
print("開出順序 : ", end='')
for i in range(6):
    print(balls[i].text , end='   ')
    
# 大小順序
print("\n大小順序 : ", end='')
for i in range(6, len(balls)):
    print(balls[i].text , end='   ')
    
# 特別號：資料位於 <div class="ball_red"></div>
redball = dataTag[2].find_all('div', {'class': 'ball_red'})
print("\n特別號   :", redball[0].text)

大樂透開獎 :
-------------
開出順序 : 44    25    18    14    16    23
大小順序 : 14    16    18    23    25    44
特別號   : 41

In [0]:
# TQC+ 網頁資料擷取與分析 204 新北市大專院校名單
# 載入 requests 模組
import requests
# 載入 json 模組
import json

# 開放資料連結
url = 'http://tqc.codejudger.com:3000/target/5204.json'
# 以 requests 模組發出 HTTP GET 請求
res = requests.get(url)

# 將回傳結果轉換成標準JSON格式
data = json.loads(res.text)
# 輸出新北市大專院校名單
print('新北市大專院校名單：\n')
for record in data:
    if record['type'] == '大專院校':
        print('名稱：%s' % record['name'])
        print('地址：%s' % record['address'])
        print('聯絡電話：%s' % record['tel'])
        print('網站：%s' % record['website'])
        print('資料更新時間：%s' % record['update_date'])
        print()

新北市大專院校名單：

名稱：馬偕醫專三芝校區
地址：新北市三芝區中正路三段42號
聯絡電話：02-26366799
網站：www.mkc.edu.tw
資料更新時間：2018-09-12 06:00:01.0

名稱：馬偕醫學院
地址：新北市三芝區中正路三段46號
聯絡電話：02-26360303
網站：www.mmc.edu.tw
資料更新時間：2018-09-12 06:00:01.0

名稱：法鼓大學
地址：新北市金山區
聯絡電話：
網站：www.ddc.edu.tw/zh-tw
資料更新時間：2018-09-12 06:00:01.0

In [0]:
# TQC+ 網頁資料擷取與分析 205 空氣品質指標（AQI）
# 載入 requests 與 json 模組
import requests , json

# 開放資料Json格式連結
url = "http://tqc.codejudger.com:3000/target/5205.json"
# 發出Get請求
response = requests.get(url)
# 回傳內容長度
print("Content-Length:",len(response.content))
# 將取得的回傳內容轉換成Json格式
res = json.loads(response.text)

print()

# 顯示新北市每一個地區的PM2.5相關資料
print('新北市PM2.5相關資料：')
for record in res:
    if record['County'] == '新北市':
        print('%s：' % record['SiteName'])
        print('\tAQI：%s' % record['AQI'])
        print('\tPM2.5：%s' % record['PM2.5'])
        print('\tPM10：%s' % record['PM10'])
        print('\t資料更新時間：%s' % record['PublishTime'])

Content-Length: 37985

新北市PM2.5相關資料：
汐止：
	AQI：36
	PM2.5：16
	PM10：36
	資料更新時間：2018-06-27 13:00
萬里：
	AQI：49
	PM2.5：10
	PM10：20
	資料更新時間：2018-06-27 13:00
新店：
	AQI：45
	PM2.5：22
	PM10：22
	資料更新時間：2018-06-27 13:00
土城：
	AQI：60
	PM2.5：20
	PM10：32
	資料更新時間：2018-06-27 13:00
板橋：
	AQI：38
	PM2.5：15
	PM10：42
	資料更新時間：2018-06-27 13:00
新莊：
	AQI：42
	PM2.5：12
	PM10：27
	資料更新時間：2018-06-27 13:00
菜寮：
	AQI：60
	PM2.5：20
	PM10：32
	資料更新時間：2018-06-27 13:00
林口：
	AQI：58
	PM2.5：19
	PM10：27
	資料更新時間：2018-06-27 13:00
淡水：
	AQI：40
	PM2.5：10
	PM10：16
	資料更新時間：2018-06-27 13:00
三重：
	AQI：60
	PM2.5：19
	PM10：62
	資料更新時間：2018-06-27 13:00
永和：
	AQI：50
	PM2.5：21
	PM10：35
	資料更新時間：2018-06-27 13:00
富貴角：
	AQI：42
	PM2.5：
	PM10：11
	資料更新時間：2018-06-27 13:00

In [0]:
# TQC+ 網頁資料擷取與分析 301 學生成績
# -*- coding: utf-8 -*-
# 載入 pandas 模組縮寫為 pd
import pandas as pd

# 資料輸入
datas = [[75, 62, 85, 73, 60], [91, 53, 56, 63, 65],
         [71, 88, 51, 69, 87], [69, 53, 87, 74, 70]]
indexs_ = ["小林", "小黃", "小陳", "小美"]
columns_ = ["國語", "數學", "英文", "自然", "社會"]
df = pd.DataFrame(datas, columns = columns_ ,  index = indexs_)

print('行標題為科目，列題標為個人的所有學生成績')
print(df)
print()

# 輸出後二位學生的所有成績
print('後二位的成績')
print(df.tail(2))
print()

# 將自然成績做遞減排序輸出
df1 = df["自然"].sort_values(ascending=False)
print('以自然遞減排序')
print(df1)
print()


# 僅列小黃的成績，並將其英文成績改為80
df.loc["小黃", "英文"] = 80
print('小黃的成績')
print(df.T.小黃)

行標題為科目，列題標為個人的所有學生成績
    國語  數學  英文  自然  社會
小林  75  62  85  73  60
小黃  91  53  56  63  65
小陳  71  88  51  69  87
小美  69  53  87  74  70

後二位的成績
    國語  數學  英文  自然  社會
小陳  71  88  51  69  87
小美  69  53  87  74  70

以自然遞減排序
    國語  數學  英文  自然  社會
小黃  91  53  56  63  65
小陳  71  88  51  69  87
小林  75  62  85  73  60
小美  69  53  87  74  70

小黃的成績
國語    91
數學    53
英文    80
自然    63
社會    65
Name: 小黃, dtype: int64

In [0]:
# TQC+ 網頁資料擷取與分析 302 矩陣
# --開始--批改評分使用，請勿變動
set_seed = 123
# --結束--批改評分使用，請勿變動

import numpy as np

x = np.random.RandomState(set_seed).randint(low=5, high=16, size=15)
print('隨機正整數：', x)

x = x.reshape(3,5)
print('X矩陣內容：')
print(x)
print('最大：',max(np.ravel(x)))
print('最小：',min(np.ravel(x)))
print('總和：',sum(np.ravel(x)))

print('四個角落元素：')
print(x[np.ix_([0, 2], [0, 4])])

隨機正整數： [ 7  7 11  6  8 15 14 11  6  5  6 14  5  5 14]
X矩陣內容：
[[ 7  7 11  6  8]
 [15 14 11  6  5]
 [ 6 14  5  5 14]]
最大： 15
最小： 5
總和： 134
四個角落元素：
[[ 7  8]
 [ 6 14]]

In [0]:
# TQC+ 網頁資料擷取與分析 303 果菜批發市場拍賣行情
# 載入 pandas 模組縮寫為 pd
import pandas as pd

#　建構資料
data = [[9, 203674, 13.2, 18894],
       [11.7, 180785, 12.3, 54894],
       [10.1, 127802, 14.7, 18563],
       [11.8, 28604, 14.9, 21963],
       [13.2, 600, 13.1, 900],
       [6.9, 38071, 9.6, 3555],
       [12.1, 35660, 10.6, 9005],
       [12, 15000, 13, 12000],
       [11.7, 48770, 9.1, 14370],
       [9.84, 6100, 11.89, 8980]]
region = ["三重市", "台中市", "台北一", "台北二", "台東市", "板橋區", "高雄市", "嘉義市", "鳳山區", "豐原區"]
item = ["西瓜價", "西瓜量", "香瓜價", "香瓜量"]

df = pd.DataFrame(data , columns = item ,  index = region)
print('西瓜與香瓜之拍賣行情價量表')
print(df)
print()  # 使用print分隔


df1 = df.sort_values(by = "西瓜價",ascending= False)
print('以西瓜價遞減排序')
print(df1['西瓜價'])
print()  # 使用print分隔

# 計算台北一市場西瓜/香瓜價量的行情並輸出
df.T["台北一"]
print('台北一市場的行情')
print(df.T["台北一"])
print()  # 使用print分隔

region[0] = "三重區"
#df.index = ____
item[2] = "洋香瓜價"
item[3] = "洋香瓜量"
#df.____ = ____
df = pd.DataFrame(data , columns = item ,  index = region)
print('全體市場行情')
print(df)

西瓜與香瓜之拍賣行情價量表
       西瓜價     西瓜量    香瓜價    香瓜量
三重市   9.00  203674  13.20  18894
台中市  11.70  180785  12.30  54894
台北一  10.10  127802  14.70  18563
台北二  11.80   28604  14.90  21963
台東市  13.20     600  13.10    900
板橋區   6.90   38071   9.60   3555
高雄市  12.10   35660  10.60   9005
嘉義市  12.00   15000  13.00  12000
鳳山區  11.70   48770   9.10  14370
豐原區   9.84    6100  11.89   8980

以西瓜價遞減排序
台東市    13.20
高雄市    12.10
嘉義市    12.00
台北二    11.80
台中市    11.70
鳳山區    11.70
台北一    10.10
豐原區     9.84
三重市     9.00
板橋區     6.90
Name: 西瓜價, dtype: float64

台北一市場的行情
西瓜價        10.1
西瓜量    127802.0
香瓜價        14.7
香瓜量     18563.0
Name: 台北一, dtype: float64

全體市場行情
       西瓜價     西瓜量   洋香瓜價   洋香瓜量
三重區   9.00  203674  13.20  18894
台中市  11.70  180785  12.30  54894
台北一  10.10  127802  14.70  18563
台北二  11.80   28604  14.90  21963
台東市  13.20     600  13.10    900
板橋區   6.90   38071   9.60   3555
高雄市  12.10   35660  10.60   9005
嘉義市  12.00   15000  13.00  12000
鳳山區  11.70   48770   9.10  14370
豐原區   9.84    6100  11.89   8980

In [0]:
# TQC+ 網頁資料擷取與分析 304 資料處理與分析
# 載入 numpy 模組
import numpy as np
# 載入 pandas 模組
import pandas as pd

# 讀入 read.csv 檔案
data = pd.read_csv("read.csv") 
arr = data.values

print(f"資料型態 ：{type(arr)}")
print(f"平均值 ：{arr.mean() :.2f}")
print(f"中位數 ：{np.median(arr) :.2f}")
print(f"標準差 ：{arr.std() :.2f}")
print(f"變異數 ：{arr.var() :.2f}")
print(f"極差值 ：{arr.max()-arr.min() :.2f}")

In [0]:
#  TQC+ 網頁資料擷取與分析 304 資料處理與分析
# 載入 numpy 模組
import numpy as np
# 載入 pandas 模組
import pandas as pd

# 讀入 read.csv 檔案
data = pd.read_csv("read.csv") 
arr = data.values

print('資料型態：%s' % type(arr))
# 計算平均數
print('平均值：%.2f' % np.mean(arr))
# 計算中位數
print('中位數：%.2f' % np.median(arr))
# 計算標準差
print('標準差：%.2f' % np.std(arr))
# 計算變異數
print('變異數：%.2f' % np.var(arr))
# 計算極差值
print('極差值：%.2f' % (np.max(arr) - np.min(arr)))

In [0]:
#  TQC+ 網頁資料擷取與分析 305 登革熱病例統計
# 載入 pandas 模組縮寫為 pd
import pandas as pd

# 讀取csv檔
df1 = pd.read_csv('read (1).csv', encoding="utf-8", sep=",", header=0)
# 居住縣市病例人數，並按遞減順序顯示
df_county = df1.groupby("居住縣市")["居住縣市"].count()
print(df_county.sort_values(ascending = False))
# 顯示感染病例人數最多的5個國家，並按遞減順序顯示
df_country = df1.groupby("感染國家")["感染國家"].count()
print(df_country.sort_values(ascending = False).head())
# 台北市各區病例人數
df_taipei = df1[df1.居住縣市 == "台北市"]
print(df_taipei.groupby("居住鄉鎮")["居住鄉鎮"].count())
# 台北市最近病例的日期
print("發病日: " + df_taipei["發病日"][343])

居住縣市
台北市    76
新北市    60
台中市    43
桃園市    43
高雄市    42
台南市    20
彰化縣    14
新竹市     8
屏東縣     7
南投縣     6
新竹縣     5
苗栗縣     5
嘉義縣     4
雲林縣     3
宜蘭縣     2
基隆市     2
台東縣     2
澎湖縣     2
嘉義市     1
Name: 居住縣市, dtype: int64
感染國家
越南      94
菲律賓     50
泰國      44
馬來西亞    33
緬甸      29
Name: 感染國家, dtype: int64
居住鄉鎮
中山區     8
中正區    10
信義區     7
內湖區    10
北投區     1
南港區     7
士林區     7
大同區     5
大安區    10
文山區     2
松山區     3
萬華區     6
Name: 居住鄉鎮, dtype: int64
發病日: 2018/06/25

In [0]:
# TQC+ 網頁資料擷取與分析 401 資料：折線圖
# -*- coding: utf-8 -*-
# --開始--批改評分使用，請勿變動
import matplotlib as mpl
mpl.use('Agg')
# --結束--批改評分使用，請勿變動

# 載入 matplotlib.pyplot 並縮寫為 plt
import matplotlib.pyplot as plt

data1 = [1, 4, 9, 16, 25, 36, 49, 64]
data2 = [1, 2, 3, 6, 9, 15, 24, 39]
seq = [1, 2, 3, 4, 5, 6, 7, 8]

# 數據及線條設定
plt.plot(seq , data1 , 'bo--' , seq , data2 , "ro--" ,ms=3, lw = 1) # 題目根本沒講Marksize為3...
# 軸刻度
plt.axis([0,8,0,70])
# 圖表標題
plt.title("Figure",fontsize = 24)
# X軸標題
plt.xlabel("x-Value",fontsize = 16)
# Y軸標題
plt.ylabel("y-Value",fontsize = 16)

# 輸出圖片檔案
plt.savefig('chart.png')
plt.close()

In [0]:
# TQC+ 網頁資料擷取與分析 402 市場成交行情：折線圖

# --開始--批改評分使用，請勿變動
import matplotlib as mpl
mpl.use('Agg')
# --結束--批改評分使用，請勿變動

# 載入 matplotlib.pyplot 並縮寫為 plt
import matplotlib.pyplot as plt
# 載入 csv 模組
import csv

x = []
y = []

# 讀入 read.csv
with open('read.csv', 'r', encoding='utf-8') as csvfile:
    plots = csv.reader(csvfile, delimiter=',')
    for row in plots:
        x.append(row[0])
        y.append(float(row[1]))

x_ticks = range(1, len(x) + 1)
plt.plot(x_ticks, y, label="banana")
plt.xticks(x_ticks, x)
plt.xlabel("date")
plt.ylabel("NT$")
plt.ylim([15,25])
# 添加圖表標題 title()
plt.title('Market Average Price')
plt.legend()
# 使用 savefig() 函數
plt.savefig('chart.png')
plt.close()

In [0]:
# TQC+ 網頁資料擷取與分析 403 月份統計：長條圖與圓餅圖
# --開始--批改評分使用，請勿變動
import matplotlib as mpl
mpl.use('Agg')
# --結束--批改評分使用，請勿變動

# -*- coding: utf-8 -*-
import matplotlib.pyplot as plt

# 四個月份
labels = ["Jun","Jul","Aug","Sep"]
sizes = [20, 30, 40, 10]

# 圓餅圖顏色
colors = ['yellowgreen', 'gold', 'lightskyblue', 'lightcoral']

# 長條圖 位置
plt.subplot(1, 2, 1)
xticks = range(0, len(labels) ) # 範例寫法       xticks = range(1, len(labels) + 1 )
# 長條圖以labels為X軸，sizes為Y軸，各長條顏色為藍色（blue）
plt.xticks(xticks, labels)
plt.bar(labels, sizes, color="blue")

# 圓餅圖 位置
plt.subplot(1, 2,2)
# 圓餅圖以labels為圖標，sizes為各項所占百分比
# 圓餅圖colors為各項顏色，突顯「Aug」
# 圓餅圖顯示各項百分比到小數點第1位
explode = (0, 0, 0.1, 0)
plt.pie(sizes , explode= explode , labels = labels ,
        colors= colors , autopct='%1.1f%%')
# 長寬比為1:1
plt.axis('equal')

plt.savefig('chart.png')
plt.close()

In [0]:
# TQC+ 網頁資料擷取與分析 404 成績統計：長條圖

# --開始--批改評分使用，請勿變動
import matplotlib as mpl
mpl.use('Agg')
# --結束--批改評分使用，請勿變動

from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

# 讀取學生分數資料
# 讀取 read.csv
df = pd.read_csv("read.csv")
scores = df["scores"].values

# range_count[0]: range0~19
# range_count[1]: range20~39
# range_count[2]: range40~59
# range_count[3]: range60~79
# range_count[4]: range80~100
# 以0初始化計數串列
range_count = [0] * 5

# 計數過程
for score in scores:
    if score < 20:
        range_count[0] += 1
    elif score < 40:
        range_count[1] += 1
    elif score < 60:
        range_count[2] += 1
    elif score < 80:
        range_count[3] += 1
    else:
        range_count[4] += 1

# y軸標籤
index = np.arange(0, 25, 5)
# X軸刻度
labels = [ "0~19", "20~39", '40~59', "60~79", '80~100']
# 畫出長條圖
plt.bar(index , range_count, width = 2 )
# 設定X軸名稱
plt.xlabel('Range', fontsize= 14)
# 設定Y軸名稱
plt.ylabel('Quantity', fontsize= 14)
# 設定x軸標籤
plt.xticks(index, labels)
# 設定y軸標籤
plt.yticks(index)
# 設定圖名稱
plt.title('Score ranges count', fontsize= 20)
# 輸出圖片檔案
plt.savefig('chart.png')
plt.close()

In [0]:
# TQC+ 網頁資料擷取與分析 405 樣本：直方圖與散佈圖
# --開始--批改評分使用，請勿變動
import matplotlib as mpl
mpl.use('Agg')
set_seed = 123
# --結束--批改評分使用，請勿變動

# 載入 numpy 模組並縮寫為 np
import numpy as np
# 載入 matplotlib.pyplot 並縮寫為 plt
import matplotlib.pyplot as plt

samples_1 = np.random.RandomState(set_seed).normal(loc=1, scale=.5, size=1000)
samples_2 = np.random.RandomState(set_seed).standard_t(df=10, size=1000)
bins = np.linspace(-3 , 3 , 100)

# 第一個子圖
plt.subplot(2, 2, 1)
plt.hist(samples_1 , bins= bins, alpha= .5, label='samples 1')
plt.hist(samples_2 , bins= bins, alpha= .5, label='samples 2')

# 在左上角 upper left 放置圖例 legend
plt.legend(loc='upper left')

# 第二個子圖
plt.subplot(1,2,2)
plt.scatter(samples_1 , samples_2 , alpha= .2 )

plt.savefig("chart.png")
plt.close()

In [0]:
from google.colab import files
files.download('chart.png')

In [0]:
from google.colab import files
uploaded = files.upload()

Saving read.csv to read.csv

In [0]:
!ls

chart.png  sample_data